<html>
  <head>
    <title>Node Blog App 2017</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Blog Posts: The App</h1>
    <p>
      This dank app provides API endpoints to GET, POST, PUT, and DELETE blog posts.
    </p>
    <p>
      GET blog posts here: <a href="http://localhost:8080/blog-posts">http://localhost:8080/blog-posts</a>
    </p>
    <p>Technologies used:
      <ul>
        <li>Node.js</li>
        <li>Express</li>
        <li>Body-Parser</li>
        <li>Morgan</li>
        <li>Coming Soon: Travis CI</li>
      </ul>
    </p>
  </body>
</html>
